.mtp10
{
    margin-top: 10vh;
}

.centered-col
{
    margin: 0 auto;
}

.centring-row
{
    display: flex;
}

.tooltip
{
    background-color: rgba(42,42,42,0.8);
    border-radius: 5px;
    margin-right: 10px;
    color: whitesmoke;
    font-size: 14pt;
    padding: 5px 15px;
}