/* etiquetas */

/* ids */
#img-home
{
    max-width: 100%;
    top: -60%;
}

#buscador
{
    margin-top: 10px;
}

/* classes */
.parallax-container
{
    background-color: rgba(0, 0, 0, 0.3);
}

 /* label color */
.input-field label {
    color: rgb(180, 0, 0);
    font-size: 18px;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: rgb(180, 0, 0);
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(180, 0, 0);
    box-shadow: 0 1px 0 0 rgb(180, 0, 0);
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid rgb(180, 0, 0);
    box-shadow: 0 1px 0 0 rgb(180, 0, 0);
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid rgb(180, 0, 0);
    box-shadow: 0 1px 0 0 rgb(180, 0, 0);
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: rgb(180, 0, 0);
}

.tooltip
{
    background-color: rgba(42,42,42,0.8);
    border-radius: 5px;
    margin-right: 10px;
    color: whitesmoke;
    font-size: 14pt;
    padding: 5px 15px;
}